@keyframes scaleAnimation {
    50% {
        transform: translateY(-100%);
    }
    // 50% {
    //     transform: translateY(-40%);
    // }
    100%,
    0% {
        transform: translateY(0%);
    }
}

.scaleAnimation {
    animation: scaleAnimation 0.5s ease-in-out infinite reverse;
    // задержка перед началом анимации
}
