@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --max-site-width: 1200px;
}
body {
    @apply font-rubik;
}

* {
    line-height: 100%;
    box-sizing: border-box;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}
input[type='number'] {
    -ms-appearance: textfield;
}
input {
    outline: none;
}
img {
    object-fit: contain;
}

div {
    width: 100%;
}
